html {
   height: 100%;
   color: #191D28;
   background-color: #eee;
   min-width: 600px;
}

body, .body-content {
   min-height: 100%;
   height: 100%;
   width: 99%;
   margin: 0;
   padding: 0;
   background-color: #eee;
}

.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error{
    color: darkred;
    font-size: 0.8em;
}

input[type="button"], input[type="submit"]{
    background: #191D28;
    color: #eee;
}

input[type="button"]:hover, input[type="submit"]:hover,
input[type="button"]:focus, input[type="submit"]:focus,
input[type="button"]:active, input[type="submit"]:active{
    background: #262C38 !important;
    color: #eee !important;
}
